[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  handle_size = 12
  suppress_multiple_term_dialog = True
  title_font = Source Han Sans TW Semi-Light 5
[keybindings]
  broadcast_all = <Super>g
  new_window = <Primary>n
  split_vert = <Primary><Shift>e
[layouts]
  [[default]]
    [[[child1]]]
      command = ""
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[16]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 527df154-2f2e-414b-8b55-abbecbd65037
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 1920:27
      size = 1920, 1016
      title = dcastaneda@WarWick:~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 471
      ratio = 0.246855345912
      type = HPaned
    [[[child11]]]
      order = 1
      parent = child1
      position = 471
      ratio = 0.327994428969
      type = HPaned
    [[[child12]]]
      order = 0
      parent = child11
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child14]]]
      order = 1
      parent = child12
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child16]]]
      order = 1
      parent = child14
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child18]]]
      order = 1
      parent = child16
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child21]]]
      order = 1
      parent = child11
      position = 471
      ratio = 0.488589211618
      type = HPaned
    [[[child22]]]
      order = 0
      parent = child21
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child24]]]
      order = 1
      parent = child22
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child26]]]
      order = 1
      parent = child24
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child28]]]
      order = 1
      parent = child26
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child31]]]
      order = 1
      parent = child21
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child33]]]
      order = 1
      parent = child31
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child35]]]
      order = 1
      parent = child33
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child37]]]
      order = 1
      parent = child35
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child4]]]
      order = 1
      parent = child2
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child6]]]
      order = 1
      parent = child4
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child8]]]
      order = 1
      parent = child6
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[terminal10]]]
      order = 1
      parent = child8
      profile = default
      type = Terminal
      uuid = 36342757-3d73-443e-a2d4-1542ea9af254
    [[[terminal13]]]
      order = 0
      parent = child12
      profile = default
      type = Terminal
      uuid = 345285c1-4077-4cfb-a2f8-0e38abb4778a
    [[[terminal15]]]
      order = 0
      parent = child14
      profile = default
      type = Terminal
      uuid = 0d051b95-aed5-498a-98d9-177f0b20fae8
    [[[terminal17]]]
      order = 0
      parent = child16
      profile = default
      type = Terminal
      uuid = 199b65e2-0baf-45f1-a12f-93a67bc85f09
    [[[terminal19]]]
      order = 0
      parent = child18
      profile = default
      type = Terminal
      uuid = f86065b4-3905-43b6-b9cc-7c558c57b74a
    [[[terminal20]]]
      order = 1
      parent = child18
      profile = default
      type = Terminal
      uuid = df79c90e-14a7-47de-a1ac-6d24abbd5ccc
    [[[terminal23]]]
      order = 0
      parent = child22
      profile = default
      type = Terminal
      uuid = 5f1b7e8a-3dc4-4b5a-8883-6affc16b9593
    [[[terminal25]]]
      order = 0
      parent = child24
      profile = default
      type = Terminal
      uuid = 82165817-3853-4840-989c-07712bdd4957
    [[[terminal27]]]
      order = 0
      parent = child26
      profile = default
      type = Terminal
      uuid = 527df154-2f2e-414b-8b55-abbecbd65037
    [[[terminal29]]]
      order = 0
      parent = child28
      profile = default
      type = Terminal
      uuid = dc6085da-d6ca-4254-baba-a908eb700887
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = ca20bcfa-f1ff-459f-9b47-bca8e121cef3
    [[[terminal30]]]
      order = 1
      parent = child28
      profile = default
      type = Terminal
      uuid = e88d968b-341a-46df-836e-37062d5ad440
    [[[terminal32]]]
      order = 0
      parent = child31
      profile = default
      type = Terminal
      uuid = 306f9959-5d1b-4634-9232-babba97e4155
    [[[terminal34]]]
      order = 0
      parent = child33
      profile = default
      type = Terminal
      uuid = 831bbc27-1337-4900-912e-7fc62d47882c
    [[[terminal36]]]
      order = 0
      parent = child35
      profile = default
      type = Terminal
      uuid = 04b48d37-20c8-4358-aff3-147ac4df6e0b
    [[[terminal38]]]
      order = 0
      parent = child37
      profile = default
      type = Terminal
      uuid = 1e302bca-b3d5-4c9d-92e2-e4204e0932d9
    [[[terminal39]]]
      order = 1
      parent = child37
      profile = default
      type = Terminal
      uuid = 741cb762-0888-4d9b-af27-7454dee789f6
    [[[terminal5]]]
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = ff73fedb-a6d3-4835-998f-7975f3279b94
    [[[terminal7]]]
      order = 0
      parent = child6
      profile = default
      type = Terminal
      uuid = b119d18d-afcf-4157-a2cf-ab87e5f3198d
    [[[terminal9]]]
      order = 0
      parent = child8
      profile = default
      type = Terminal
      uuid = fd5bf491-64cd-4951-8233-f6c24323e563
  [[split]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 527df154-2f2e-414b-8b55-abbecbd65037
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 1920:27
      size = 1920, 1016
      title = dcastaneda@WarWick:~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 471
      ratio = 0.246855345912
      type = HPaned
    [[[child11]]]
      order = 1
      parent = child1
      position = 471
      ratio = 0.327994428969
      type = HPaned
    [[[child12]]]
      order = 0
      parent = child11
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child14]]]
      order = 1
      parent = child12
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child16]]]
      order = 1
      parent = child14
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child18]]]
      order = 1
      parent = child16
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child21]]]
      order = 1
      parent = child11
      position = 471
      ratio = 0.488589211618
      type = HPaned
    [[[child22]]]
      order = 0
      parent = child21
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child24]]]
      order = 1
      parent = child22
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child26]]]
      order = 1
      parent = child24
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child28]]]
      order = 1
      parent = child26
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child31]]]
      order = 1
      parent = child21
      position = 193
      ratio = 0.192231075697
      type = VPaned
    [[[child33]]]
      order = 1
      parent = child31
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child35]]]
      order = 1
      parent = child33
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child37]]]
      order = 1
      parent = child35
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[child4]]]
      order = 1
      parent = child2
      position = 193
      ratio = 0.238271604938
      type = VPaned
    [[[child6]]]
      order = 1
      parent = child4
      position = 193
      ratio = 0.313311688312
      type = VPaned
    [[[child8]]]
      order = 1
      parent = child6
      position = 193
      ratio = 0.457345971564
      type = VPaned
    [[[terminal10]]]
      order = 1
      parent = child8
      profile = default
      type = Terminal
      uuid = 36342757-3d73-443e-a2d4-1542ea9af254
    [[[terminal13]]]
      order = 0
      parent = child12
      profile = default
      type = Terminal
      uuid = 345285c1-4077-4cfb-a2f8-0e38abb4778a
    [[[terminal15]]]
      order = 0
      parent = child14
      profile = default
      type = Terminal
      uuid = 0d051b95-aed5-498a-98d9-177f0b20fae8
    [[[terminal17]]]
      order = 0
      parent = child16
      profile = default
      type = Terminal
      uuid = 199b65e2-0baf-45f1-a12f-93a67bc85f09
    [[[terminal19]]]
      order = 0
      parent = child18
      profile = default
      type = Terminal
      uuid = f86065b4-3905-43b6-b9cc-7c558c57b74a
    [[[terminal20]]]
      order = 1
      parent = child18
      profile = default
      type = Terminal
      uuid = df79c90e-14a7-47de-a1ac-6d24abbd5ccc
    [[[terminal23]]]
      order = 0
      parent = child22
      profile = default
      type = Terminal
      uuid = 5f1b7e8a-3dc4-4b5a-8883-6affc16b9593
    [[[terminal25]]]
      order = 0
      parent = child24
      profile = default
      type = Terminal
      uuid = 82165817-3853-4840-989c-07712bdd4957
    [[[terminal27]]]
      order = 0
      parent = child26
      profile = default
      type = Terminal
      uuid = 527df154-2f2e-414b-8b55-abbecbd65037
    [[[terminal29]]]
      order = 0
      parent = child28
      profile = default
      type = Terminal
      uuid = dc6085da-d6ca-4254-baba-a908eb700887
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = ca20bcfa-f1ff-459f-9b47-bca8e121cef3
    [[[terminal30]]]
      order = 1
      parent = child28
      profile = default
      type = Terminal
      uuid = e88d968b-341a-46df-836e-37062d5ad440
    [[[terminal32]]]
      order = 0
      parent = child31
      profile = default
      type = Terminal
      uuid = 306f9959-5d1b-4634-9232-babba97e4155
    [[[terminal34]]]
      order = 0
      parent = child33
      profile = default
      type = Terminal
      uuid = 831bbc27-1337-4900-912e-7fc62d47882c
    [[[terminal36]]]
      order = 0
      parent = child35
      profile = default
      type = Terminal
      uuid = 04b48d37-20c8-4358-aff3-147ac4df6e0b
    [[[terminal38]]]
      order = 0
      parent = child37
      profile = default
      type = Terminal
      uuid = 1e302bca-b3d5-4c9d-92e2-e4204e0932d9
    [[[terminal39]]]
      order = 1
      parent = child37
      profile = default
      type = Terminal
      uuid = 741cb762-0888-4d9b-af27-7454dee789f6
    [[[terminal5]]]
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = ff73fedb-a6d3-4835-998f-7975f3279b94
    [[[terminal7]]]
      order = 0
      parent = child6
      profile = default
      type = Terminal
      uuid = b119d18d-afcf-4157-a2cf-ab87e5f3198d
    [[[terminal9]]]
      order = 0
      parent = child8
      profile = default
      type = Terminal
      uuid = fd5bf491-64cd-4951-8233-f6c24323e563
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Monospace Italic 9
    scroll_on_output = True
    scrollback_infinite = True
    use_system_font = False
